* {
  box-sizing: border-box;
}

#bars {
  display: flex;
  align-items: flex-end;
  width: 410px;
  height: 200px;
  background-color: rgb(255, 255, 246);
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

.bar {
  flex-grow: 1;
  width: 10px;
  height: 50px;
  border: 1px solid white;
  border-radius: 2px 2px 0 0;
  background: rgb(37, 196, 196);
}
